#backup
/backup/

#3Dfx tests (diffent licence)
/tests/

# generated and temporary files
*.o
*.bak
*.tmp
*.gen
*.exe
*.res
*.dll
*.a

# release and testing scripts
*.bat

# user defined configuration
config.mk
