#backup
/backup/

#3Dfx tests (diffent licence)
/tests/

# generated and temporary files
*.o
*.bak
*.backup
*.tmp
*.gen
*.exe
*.res
*.dll
*.lib
*.a
*.log

# msc garbage
*.pdb
*.ilk
*.exp

# release and testing scripts
*.bat

# user defined configuration
config.mk
config.mk-gcc
config.mk-msc
